.home__hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 20px 0px;
  padding: 80px 100px 50px 100px;
  height: 300px;
  max-width: 1600px;
  background-image: url(https://res.cloudinary.com/reverb-cms/image/upload/curation%2Fkeoh4htpppbjktkduodt);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.home__hero-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home__hero-title {
  font-size: 60px;
}

.home__hero-subtitle {
  font-size: 28px;
  font-weight: bold;
}

.home__hero-button {
  background-color: var(--secondary-color);
  color: white;
  border: 0;
  border-radius: 25px;
  padding: 15px 30px;
  font-size: medium;
  font-weight: bold;
  width: fit-content;
}

.home__hero-cards {
  display: flex;
  gap: 1.5rem;
  height: 100%;
}

.home__hero-card {
  display: grid;
  grid-template-rows: 75% 25%;
  border-radius: 15px;
  background-color: var(--gray-color);
  flex: 1;
  height: 100%;
}

.home__hero-card img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.home__hero-card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__hero-card p {
  font-weight: bold;
  font-size: large;
  color: var(--secondary-color);
}
