.navbar {
}

.navbar-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5vw;
  gap: 20px;
}

.navbar-logo {
}

.navbar-searchbar {
  height: 28%;
  flex: 1;
}

.navbar-searchbar__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 6px;
}

.navbar-searchbar__input {
  border: none;
  border-radius: 10px;
  padding: 15px;

  flex: 1;
}

.navbar-searchbar__icon {
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar-options__sign-up {
  background-color: none;
}

.navbar-options__log-in {
  background-color: none;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 5vw;
  font-size: 14px;
  font-weight: 300;
}
.navbar-menu a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px 0px;
}

.navbar-menu a span {
  color: var(--primary-color);
}

.navbar-menu a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.navbar-menu__categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 22px;
}

/* .navbar-menu__categories a {
  text-decoration: none;
  color: var(--secondary-color);
}

.navbar-menu__categories a span {
  color: var(--primary-color);
}

.navbar-menu__categories a:hover {
  text-decoration: underline;
  color: var(--primary-color);
} */

.navbar-menu__subcategories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 0px 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
