.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5vw;
  gap: 20px;
}

.navbar-logo {
}

.navbar-searchbar {
  height: 28%;
  flex: 1;
}

.navbar-searchbar__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 6px;
}

.navbar-searchbar__input {
  border: none;
  border-radius: 10px;
  padding: 15px;

  flex: 1;
}

.navbar-searchbar__icon {
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
}

.navbar-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar-options__sign-up {
  background-color: none;
}

.navbar-options__log-in {
  background-color: none;
}
